.mainViewContainer {
    display: flex;
    flex-direction: column;
    max-width: 61vw;
    /*flex-wrap: wrap;*/        /*Anular*/
    /*align-items: center;*/    /*Anular*/
    background-color: white;  /*Anular*/
    margin: auto;
}


.mainNewsView {
    
    align-self: center;
    /*display: flex;*/
    /*flex-direction: column;*/ /* Anular*/
    /*flex-wrap: wrap;*/        /*Anular*/
    /*align-items: center;*/    /*Anular*/ 
    /*justify-content: center;*//*Anular*/
   
}

.secondaryNewsView {
    /*margin: 10px;*/
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content:space-between;
    
}