.headerLogin {
    height: 35px;
}



.headerContainer {
    display: flex;
    flex-direction: row;
    background-color: #e7e7ed;
    height: 100px;
    margin: 0px;
    margin-bottom: 10px;
}

.headerText {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.headerTitle {
    font-size: 45px;
    letter-spacing: -4px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic; 
    cursor: pointer;
    color: black; 
}

span {
    font-style: normal;
}
