.headerLogin {
    height: 35px;
}



.headerContainer {
    display: flex;
    flex-direction: row;
    background-color: #F7F7F9;
    height: 100px;
    margin: 0px;
}

.headerText {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.headerTitle {
    font-size: 45px;
    letter-spacing: -4px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic; 
    cursor: pointer;
    color: black;  
}


span {
    font-style: normal;
}
