.fullPageNewsContainer {
    display: flex;
    flex-direction: column;
    max-width: 97vw;
    min-width: 250px;
    background-color: white; 
    margin: auto;
}

.fullPageNewsTitle {
    font-size: 2.47058em;
    line-height: 114.285%;
    font-weight: 700;
    color: #000;
    margin: 0 0 0.875rem 0;
    letter-spacing: -1px;
    font-style: normal;
    padding-top: 10px;
}

.fullPageNewsAuthor_Date_Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 200;
    letter-spacing: -2px;
    font-style: normal;
    padding-top: 10px;
}

.fullPageNewsAuthor_and_Date {
    display: flex;
    flex-direction: row;
    color: #777;
    font-family: 'Lora', serif;
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.fullPageNewsAuthor, .fullPageNewsDate  {
    margin: 5px;
    padding: 5px;
}

.fullPageNewsIcon {
    margin-right: 20px;
}

.fullPageNewsTitle {
    color: rgb(15, 15, 15);
    font-family: 'Lora', serif;
    font-size: 2.5em;
    line-height: 106%;
    font-weight: 800;
    margin: 0px;
    font-style: normal;
    cursor:default;
}

.fullPageNewsSummary {
    font-size: 0.938em;
    line-height: 1.6em;
    font-weight: 400;
    color: #777;
    font-family: 'Lora', serif;
}

.fullPageNewsContent {
    font-size: 0.938em;
    line-height: 1.6em;
    font-weight: 400;
    color: #777;
    font-family: 'Lora', serif;
}

 @media only screen and (min-width: 580px) {
    .fullPageNewsContainer {
        display: flex;
        flex-direction: column;
        max-width: 93vw;
        background-color: white; 
        margin: auto;
    }
 }    

 @media only screen and (min-width: 1000px) {
    .fullPageNewsContainer {
        display: flex;
        flex-direction: column;
        max-width: 87vw;
        background-color: white; 
        margin: auto;
    }
 }    

 @media only screen and (min-width: 1100px) {
    .fullPageNewsContainer {
        display: flex;
        flex-direction: column;
        max-width: 77vw;
        background-color: white; 
        margin: auto;
    }
 }    

 @media only screen and (min-width: 1200px) {
    .fullPageNewsContainer {
        display: flex;
        flex-direction: column;
        max-width: 67vw;
        background-color: white; 
        margin: auto;
    }
 }    
 