.mainNewsContainer {
    margin: 10px;
}

.mainNewsImg {
    width: 1100px;

    /*position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;*/
    cursor: pointer;
}

.mainNewsText {
    /*position: relative;*/
    background-color: white;
    height: 170px;
    width: 300px;
    /*left: 460px;
    top: 270px;*/
    padding: 10px;
    padding-bottom: 30px;
}

.mainNewsTitle {
    margin: 0px;
    cursor: pointer;
}

.mainNewsAuthor {
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}