.mainNewsContainer {
    margin: 0px;
}

.mainNewsImg {
    width: 100%;
    cursor: pointer;
}

.mainNewsText {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    margin: 0px;
}

.mainNewsTitle {
    font-family: "Lora", serif;
    font-size: 2.5em;
    line-height: 106%;
    font-weight: 800;
    margin: 0px;
    cursor: pointer;
    color: black;
}

a{
    text-decoration: none;
}

.mainNewsAuthorAndDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    color: #777;
    font-family: 'Lora', serif;
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.mainNewsDate {
    margin: 3px;
    font-size: 0.8em;
}

.mainNewsAuthor {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}

.mainNewsSummary {
    margin: 3px;
    font-size: 0.938em;
    line-height: 1.4em;
    font-weight: 400;
    color: #777;
    font-family: 'Lora', serif;
}