.mainNewsContainer {
    margin: 10px;
}

.mainNewsImg {
    width: 100%;
    /*position: absolute;*/
    /*left: 0px;
    top: 0px;*/
    z-index: -1;
    cursor: pointer;
}

.mainNewsText {
    /*position: relative;*/
    background-color: white;
    height: 180px;
    width: 300px;
    /*left: 460px;
    top: 270px;*/
    border: 1px solid black;
    margin: 0px;
    padding: 20px;
}

.mainNewsTitle {
    margin: 0px;
    cursor: pointer;
}

.mainNewsAuthor {
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}