.secondaryNewsContainer {
    border-top: 1px solid rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;

}

.secondaryNewsImg {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: auto; /* Buscando solución al ratio aspecto */
    cursor: pointer;
}

.secondaryNewsText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0px;
    padding: 0px;
    
}

.secondaryNewsTitle {
    color: rgb(15, 15, 15);
    font-style: normal;
    font-weight: 400;
    font-family: 'Lora', serif;
    
    margin: 3px;
    cursor: pointer;
}

.secondaryNewsAuthorAndDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    color: #777;
    font-family: 'Lora', serif;
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.secondaryNewsDate {
    margin: 3px;
    font-size: 0.8em;
}

.secondaryNewsAuthor {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}

.secondaryNewsSummary {
    font-size: 0.938em;
    line-height: 1.4em;
    font-weight: 400;
    color: #777;
    font-family: 'Lora', serif;
}

@media only screen and (min-width: 580px) {
    .secondaryNewsContainer {
        max-width: 46vw;
        
    }
 }

 @media only screen and (min-width: 1000px) {
    .secondaryNewsContainer {
        max-width: 43vw;
        
    }
 }

 @media only screen and (min-width: 1100px) {
    .secondaryNewsContainer {
        max-width: 38vw;
        
    }
 }

 @media only screen and (min-width: 1200px) {
    .secondaryNewsContainer {
        max-width: 33vw;
        
    }
 }