.secondaryNewsContainer {
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondaryNewsImg {
    display: flex;
    margin-top: 10px;
    width: 95%;
    height: 100%;
    cursor: pointer;
}

.secondaryNewsText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10px;
    padding: 10px;
}

.secondaryNewsTitle {
    margin: 3px;
    cursor: pointer;
}

.secondaryNewsAuthorAndDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
}

.secondaryNewsDate {
    margin: 3px;
    font-size: 0.8em;
}

.secondaryNewsAuthor {
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}

.secondaryNewsSummary {
    margin: 3px;
}